.modal-header {
  border-bottom: none;
}

.logo {
  margin-top: -5em;
  margin-bottom: -5em;
}

.media-text {
  margin-right: 10px;
}

.img {
  width: 75% !important;
}

.footer-logo {
  margin: -5em;
}
