.login-cart {
  position: relative;
  z-index: 1;
}

.modal-header {
  border-bottom: none;
}

.logo {
  margin-top: -5em;
  margin-bottom: -5em;
}

#slider {
  height: 40em;
}

.slider-img {
}

.media-text {
  margin-right: 10px;
}

.new-products {
  margin-left: 41% !important;
  margin-right: 41% !important;
  text-align: center;
}

.price-cont {
  display: flex;
  justify-content: space-around;
}

.price {
  display: inline-block;
  color: #777777;
  font-weight: normal;
}

.logo-img {
  width: 75% !important;
}

.footer-logo {
  margin: -5em;
}
